<h1>
  {{title.value}} <small>{{title.subtitle}}</small>
</h1>
<nav>
  <a routerLink="torrents" routerLinkActive="active">torrents</a>
  <a routerLink="search" routerLinkActive="active">search</a>
  <a routerLink="settings" routerLinkActive="active">settings</a>
</nav>

<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout"><span [innerHTML]="alert.msg"></span></alert>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
