<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{title.value}}
        <small>{{title.subtitle}}</small>
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"><a>Home</a></li>
        <li routerLink="torrents" routerLinkActive="active"><a>Torrents</a></li>
        <li routerLink="search" routerLinkActive="active"><a>Search</a></li>
        <li routerLink="settings" routerLinkActive="active"><a>Settings</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container container-fluid">
  <div class="row">
    <div class="col-md-12">
<!--
      <div class="page-header">
        <h1>Sticky footer with fixed navbar</h1>
      </div>
-->

      <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout"><span [innerHTML]="alert.msg"></span></alert>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">by Tsykin Slava a.k.a <a href="http://nektodev.ru">NektoDev</a></p>
  </div>
</footer>
