/* You can add global styles to this file, and also import other style files */
.word-break {
  -ms-word-break: break-all;
  word-break: break-all;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.nowrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.center-text {
  text-align: center;
}
