<div class="panel panel-default">
  <form class="form-horizontal" #searchForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input type="text" class="form-control" id="query" name="query" autofocus
             placeholder="Search..."
             [(ngModel)]="query">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Search</button>
      </span>
    </div>
  </form>
  <div [ngBusy]="busy"></div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th *ngFor="let column of columns" (click)="onHeaderClick(column)" class="nowrap">
        <span>
        {{column.title}}
        </span>
        <span *ngIf="getColumnSort(column.name)">
                {{getColumnSort(column.name) === 'asc' ? '↑' : '↓'}}
        </span>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of founded">
      <td class="col-md-6">
        <div class="word-break"><a href="{{t.url}}">{{t.name}}</a></div>
      </td>
      <td class="">
        <div class="">{{t.category}}</div>
      </td>
      <td class="">
        <div class="">{{t.seeders}}</div>
      </td>
      <td class="">
        <div class="">{{t.size | byte}}</div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
