<div class="btn-group nowrap" role="group">
  <button type="button" class="btn btn-primary btn-sm" (click)="refreshTorrent()"><span
    class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh All
  </button>
  <button type="button" class="btn btn-success btn-sm" (click)="newTorrent()"><span
    class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
  </button>
</div>

<div class="panel panel-default">

  <div [ngBusy]="busy"></div>
  <!-- Table -->
  <table class="table table-striped">
    <thead>
    <tr>
      <th *ngFor="let column of columns" (click)="onHeaderClick(column)" class="nowrap">
        <span>
        {{column.title}}
        </span>
        <span *ngIf="getColumnSort(column.name)">
                {{getColumnSort(column.name) === 'asc' ? '↑' : '↓'}}
        </span>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of torrents">

      <td class="col-md-3">
        <div class="word-break"><a href="{{t.url}}">{{t.name}}</a></div>
      </td>
      <td>
        <div class="center-block">
          <span class="glyphicon glyphicon-ok text-success center-block center-text" *ngIf="t.tracked"></span>
        </div>
      </td>
      <td>
        <div>
          <span *ngFor="let w of t.watchers">{{w}}</span>
        </div>
      </td>
      <td>
        <div>{{t.addDate | date:'dd.MM.y hh:mm'}}</div>
      </td>
      <td>
        <div>{{t.finishDate | date:'dd.MM.y hh:mm'}}</div>
      </td>
      <td>
        <div>{{t.lastCheckDate | date:'dd.MM.y hh:mm'}}</div>
      </td>
      <td>
        <div>{{t.lastUpdateDate | date:'dd.MM.y hh:mm'}}</div>
      </td>
      <td>
        <div class="btn-group nowrap" role="group">
          <button type="button" class="btn btn-default btn-sm" (click)="editTorrent(t)"><span
            class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default btn-sm" (click)="refreshTorrent(t)"><span
            class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default btn-sm btn-danger" (click)="showDeleteModal(t)"><span
            class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="DeleteModal"
       aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Delete torrent</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="deleteModalTorrent">
          Are you sure want to delete "{{deleteModalTorrent.name}}"?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteTorrent(deleteModalTorrent)">Delete</button>
        </div>
      </div>
    </div>

  </div>
